[package]
name = "surf"
version = "1.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rustasync/surf"
documentation = "https://docs.rs/surf"
description = "HTTP client framework."
keywords = ["http", "client", "framework", "request"]
categories = ["web-programming", "web-programming::http-client"]
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]
readme = "README.md"
edition = "2018"

[features]
default = ["chttp-client", "middleware-logger"]
hyper-client = ["hyper", "runtime", "runtime-raw", "runtime-tokio" ]
chttp-client = ["chttp"]
wsam-client = ["web-sys"]
middleware-logger = []

[dependencies]
http = "0.1.17"
futures-preview = { version = "0.3.0-alpha.17", features = ["compat", "io-compat"] }
serde = "1.0.97"
serde_json = "1.0.40"
log = { version = "0.4.7", features = ["kv_unstable"] }
url = "2.0.0"
mime_guess = "2.0.0-alpha.6"
mime = "0.3.13"

# chttp-client
chttp = { version = "0.5.3", optional = true }

# hyper-client
hyper = { version = "0.12.32", optional = true, default-features = false }
hyper-tls = { version = "0.3.2", optional = true }
runtime = { version = "0.3.0-alpha.6", optional = true }
native-tls = { version = "0.2.2", optional = true }
runtime-raw = { version = "0.3.0-alpha.4", optional = true }
runtime-tokio = { version = "0.3.0-alpha.5", optional = true }
serde_urlencoded = "0.6.1"

# wasm-client
web-sys = { version = "0.3.25", features = ["Request", "Window"], optional = true }

[dev-dependencies]
serde = { version = "1.0.97", features = ["derive"] }
runtime = "0.3.0-alpha.6"
femme = "1.1.0"
