[package]
name = "surf"
version = "2.0.0-alpha.4"
license = "MIT OR Apache-2.0"
repository = "https://github.com/http-rs/surf"
documentation = "https://docs.rs/surf"
description = "HTTP client framework."
keywords = ["http", "client", "framework", "request"]
categories = ["web-programming", "web-programming::http-client"]
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>", "dignifiedquire <me@dignifiedquire.com>"]
readme = "README.md"
edition = "2018"

[features]
# when the default feature set is updated, verify that the `--features` flags in
# `.github/workflows/ci.yaml` are updated accordingly
default = ["native-client", "middleware-logger", "encoding"]
h1-client = ["wasm-client", "http-client/h1_client"]
native-client = ["curl-client", "wasm-client", "http-client/native_client"]
curl-client = ["http-client/curl_client"]
wasm-client = ["http-client/wasm_client"]
middleware-logger = []
# requires web-sys for TextDecoder on wasm
encoding = ["encoding_rs", "web-sys"]

[dependencies]
futures = { version = "0.3.1", features = ["compat", "io-compat"] }
log = { version = "0.4.7", features = ["kv_unstable"] }
mime_guess = "2.0.3"
serde = "1.0.97"
serde_json = "1.0.40"
serde_urlencoded = "0.6.1"
url = "2.0.0"
http-client = { git = "https://github.com/Perseus101/http-client.git", branch = "fix-wasm-compilation", version = "4.0.0", default-features = false }
http-types = { version = "2.3.0", features = ["async_std"] }
async-std = { version = "1.6.0", default-features = false, features = ["std"] }
pin-project-lite = "0.1.1"

[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
# encoding
encoding_rs = { version = "0.8.20", optional = true }

# wasm-client
[target.'cfg(target_arch = "wasm32")'.dependencies.web-sys]
version = "0.3.25"
optional = true
features = [
    "TextDecoder",
]

[dev-dependencies]
async-std = { version = "1.6.0", features = ["attributes"] }
femme = "1.1.0"
serde = { version = "1.0.97", features = ["derive"] }
mockito = "0.23.3"

[target.'cfg(target_arch = "wasm32")'.dev-dependencies]
wasm-bindgen = "0.2.48"
