[package]
name = "surf"
version = "1.0.0"
license = "MIT OR Apache-2.0"
repository = "https://github.com/rustasync/surf"
documentation = "https://docs.rs/surf"
description = "HTTP client framework."
keywords = ["http", "client", "framework", "request"]
categories = ["web-programming", "web-programming::http-client"]
authors = ["Yoshua Wuyts <yoshuawuyts@gmail.com>"]
readme = "README.md"
edition = "2018"

[features]
default = ["middleware-logger"]
middleware-logger = []

[dependencies]
hyper = { version = "0.12.32", default-features = false }
http = "0.1.17"
futures-preview = { version = "0.3.0-alpha.17", features = ["compat", "io-compat"] }
serde = "1.0.97"
serde_json = "1.0.40"
hyper-tls = "0.3.2"
runtime = "0.3.0-alpha.6"
native-tls = "0.2.2"
runtime-tokio = "0.3.0-alpha.5"
runtime-raw = "0.3.0-alpha.4"
log = { version = "0.4.7", features = ["kv_unstable"] }
url = "2.0.0"

[dev-dependencies]
serde = { version = "1.0.97", features = ["derive"] }
femme = "1.1.0"
