name: CI

on:
  pull_request:
  push:
    branches:
      - main
      - staging
      - trying

env:
  RUSTFLAGS: -Dwarnings
  RUST_BACKTRACE: full

jobs:
  build_and_test:
    name: Build and test
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macOS-latest]
        rust: [nightly]
        backend: [curl-client, h1-client]

    steps:
    - uses: actions/checkout@master

    - name: Install ${{ matrix.rust }}
      uses: actions-rs/toolchain@v1
      with:
        toolchain: ${{ matrix.rust }}
        override: true

    - name: check
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --examples

    - name: check no features
      uses: actions-rs/cargo@v1
      with:
        command: check
        args: --no-default-features

    - name: tests
      uses: actions-rs/cargo@v1
      with:
        command: test
        args:  --no-default-features --features '${{ matrix.backend }} middleware-logger encoding'

  test_wasm:
    name: Test wasm
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@master

    - name: Install
      run: curl https://rustwasm.github.io/wasm-pack/installer/init.sh -sSf | sh

    - name: Chrome
      run: wasm-pack test --headless --chrome
      working-directory: wasm-test

    - name: Firefox
      run: wasm-pack test --headless --firefox
      working-directory: wasm-test

  check_fmt_and_docs:
    name: Checking fmt, clippy, and docs
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: nightly
        components: rustfmt, clippy
        override: true

    - name: clippy
      run: cargo clippy --tests --examples -- -D warnings

    - name: fmt
      run: cargo fmt --all -- --check

    - name: Docs
      run: cargo doc
